:root{
    --primary-color: white;
    --secondary-color: black;
    --invert: 0%;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: white;
    --invert: 100%;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

hr{
    width: 30%;
    margin: auto;
    height: 2px;
    background-color:rgb(75, 1, 1) ;
    z-index: 2;
}



/* HERO */
/* -----------header section----------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: rgb(75, 1, 1) ;
    box-shadow: 0 5px 6px rgb(0, 0, 0);
    z-index: 1;
}

header .log{
    border-radius: 50%;
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border: 2px solid rgb(75, 1, 1);
}

header .logo{
    height: 70px;
    border-radius: 50%;
    background-color: rgb(75, 1, 1) ;
}

header .header-buttons{
    margin-right: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 1, 1);
}

header .header-buttons div, .ham-icons, .ham-icons i,
.card-item h4, .card-item p, footer h2, footer div, footer div a,
footer div a i, footer p{
    background-color: rgb(75, 1, 1);
    color: white;
}

header .header-buttons a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    transition: opacity 1s;
    background-color: rgb(75, 1, 1);
}

header .header-buttons a:hover{
    background-color: (75, 1, 1);
    opacity: 0.7;
}

header i{
    scale: 3;
    margin-right: 20px;
    color: white;
}

.header-buttons .close-menu, .ham-icons i{
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transition: color 500ms linear;
}

.header-buttons .ham-icons{
    opacity: 0;
    transition: opacity 1s 1s;
}

.ham-icons a i:hover{
    color: rgba(255, 255, 255, 0.585);
}

.open-menu{
    font-size: 1rem;
    margin: 20px;
    cursor: pointer;
    transition: color 1s ease-in;
    display: none;
    color: white;
}

.open-menu i, .close-menu i, .open-menu, .close-menu,
#whatsapp, #whatapp i {
    background-color: rgb(75, 1, 1);
}

#whatsapp i {
    background-color: black;
    color: white ;
    border-radius: 50%;
}

.header-buttons .close-menu, .header-buttons .ham-icons i{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    color: #000;
    transition: color 500ms linear;
}

.ham-icons a i:hover{
    color: rgba(255, 255, 255, 0.782);
}

header .header-buttons .button-one{
    transition-property: position;
    visibility: hidden;
    animation: button .5s ease-in .5s forwards;
    border-radius: 10px;
}

.header-buttons .button-one a{
    color: gold;
}

header .header-buttons .button-two{
    transition-property: position;
    visibility: hidden;
    animation: button .5s ease-in .7s forwards;
}

header .header-buttons .button-three{
    transition-property: position;
    visibility: hidden;
    animation: button .5s ease-in .9s forwards;
}

header .header-buttons .button-four{
    transition-property: position;
    visibility: hidden;
    animation: button .5s ease-in 1.1s forwards;
}

header .header-buttons .button-five{
    transition-property: position;
    visibility: hidden;
    animation: button .5s ease-in 1.3s forwards;
}

@keyframes button {
    0%{
        opacity: 0;
        transform: translateY(-3rem);
     }
     
     100%{
        opacity: 1;
        visibility: visible;
        transform: none;
     }
}


.light-click{
    max-width: 50px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(75, 1, 1);
    height: 30px;
    padding: 5px 10px;
    position: fixed;
    right: 20px;
    border-radius: 5px;
    margin-top: 70px;
    z-index: 3;
    transition: background-color .5s  ease-in;
    animation: daynight 2s infinite;
}

.light-click img{
    background-color: rgb(75, 1, 1);
}

input[type="checkbox"]{
    appearance: none !important;
    visibility: hidden !important;
    background-color: rgb(75, 1, 1);
}

.day-night{
    cursor: pointer;
    height: 30px;
    background-color: rgb(75, 1, 1);
}

label{
    background-color: rgb(75, 1, 1);
}


@keyframes daynight {
    0%{
        scale: 1;
    }

    50%{
        scale: 0.9;
    }

    100%{
        scale: 1;
    }
}



/* ---------header section */





/* ------------after header----------- */
.after-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh);
}

.after-header-text{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    margin-left: 20px;
}

.after-header-text h1{
    font-weight: bolder;
    font-size: 2rem;
}

.after-header-text p{
    margin: 20px 0;
    margin-bottom: 30px;
}

.after-header-text a{
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color 1s, color 1s;
}

.after-header-text a:hover{
    background-color: rgb(182, 3, 3) ;
}

.after-header-image img{
    height: 500px;
}
/* after header */




/* ------tour------- */
.tour{
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.tour .tour-guide{
    display: flex;
}

.tour .tour-guide div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.tour .tour-guide img{
    height: 200px;
    border: 2px solid rgb(250, 196, 196);
}

.tour .tour-guide a{
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color 1s, color 1s;
}

.tour .tour-guide a:hover{
    background-color: rgb(182, 3, 3) ;
}
/* ------tour------- */





/* ---------our baker--------- */
.our-baker{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.baker-image .baker-one{
    height: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


.baker-image .baker-two{
    height: 200px;
    border-radius: none;
    transform: translateX(-4rem)  translateY(5rem);
}

.image-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.image-text a{
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 200px;
    transition: background-color 1s, color 1s;
}

.image-text a:hover{
    background-color: rgb(182, 3, 3) ;
}
/* ---------our baker--------- */


/* ---------testimonials--------- */

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 0 3rem;
}

.testimonials H2{
    margin-bottom: 30px;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i{
    height: 50px;
    width: 50px;
    background-color: rgb(75, 1, 0.5);
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(225,225,225,0.77);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) +8px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card-item, .img){
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card-item{
    cursor: grab;
    user-select: none;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel .card-item{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgb(75, 1, 1);
    color: white;
    cursor: pointer;
}

.card-item .img {
    border-radius: 50%;
}

.card-item .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
}

@media screen and (max-width: 1500px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 4) + -8px);
    }
}

@media screen and (max-width: 1200px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 3) );
    }
}

@media screen and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) + 8px);
    }
}

@media screen and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: calc((100%) );
    }
}
/* -------testimonials----- */




/* -----------values---------- */
.values{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.values li{
    list-style: none;
    max-width: 1000px;
    padding: 1rem 2rem;
}

.values a {
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 200px;
    transition: background-color 1s, color 1s;
}

.values a:hover{
    background-color: rgb(182, 3, 3) ;
}
/* -------values----- */




/* -------hire----- */
.hire{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 3rem;
}

.hire .hire-image img{
    height: 350px;
    width: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

.hire .hire-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.hire .hire-text .contact{
    display: flex;
    column-gap: 20px;
}

.hire .hire-text .contact a{
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    max-width: 200px;
    transition: background-color 1s, color 1s;
}

.hire .hire-text .contact a:hover{
    background-color: rgb(182, 3, 3) ;
}
/* -------hire------- */




/* ---------locate us---------- */
.locate-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    row-gap: 30px;
}

iframe {
    width: 1000px;
   border: 12px solid var(--secondary-color); 
   filter: invert(var(--invert)) ;
}

.map-cover{
    border: 3px solid var(--secondary-color);
}
/* ---------locate us---------- */



/* ---------footer------- */
footer {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(75, 1, 1);
    color: white;
}

footer h2 {
    margin-bottom: 20px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: bolder;
    margin-right: 20px;
}

footer a:hover{
    color: rgba(255, 255, 255, 0.612);
}

footer .icons{
    margin-top: 15px;
}

footer .icons a {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

footer hr {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    z-index: 0;
}

footer .copy-right {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.553);
    text-align: center;
}

footer .copy-right a {
    color: rgba(255, 255, 255, 0.558);
}

footer .copy-right p {
    margin-top: 10px;
    font-size: .8rem;
}
/* --------footer-------- */



/* ------observer------- */
.observer{
    opacity: 0;
    transform: translateY(6rem);
    transition: transform .6s, opacity 3s;
}

.toggle{
    opacity: 1;
    transform: none;
}
/* ------observer------ */



/* media query */
@media screen and (max-width: 1050px){
    iframe{
        width: 900px;
    }
}

@media screen and (max-width: 1000px){
    iframe{
        width: 750px;
    }
}


@media screen and (max-width: 800px) {
    .header-buttons{
        height: 100vh;
        position: fixed;
        top: 0;
        right: -1.3rem;
        left: 100%;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(75, 1, 0.5);
        color: white;
        row-gap: 30px;
        transition:  left 1s ease;
        display: none;
        animation: slide-in 1s linear;
    }

    header  #whatsapp {
        display: none;
    }

    .ham-icons{
        display: block;
    }

    header .header-buttons .button-one,
    header .header-buttons .button-two,
    header .header-buttons .button-three,
    header .header-buttons .button-four,
    header .header-buttons .button-five{
    opacity: 0;
    display: none;
}

    header .header-buttons .button-one.stager-anime,
    header .header-buttons .button-two.stager-anime,
    header .header-buttons .button-three.stager-anime,
    header .header-buttons .button-four.stager-anime,
    header .header-buttons .button-five.stager-anime{
    display: block;
    
}

.header-buttons{
    display: flex;
}

    @keyframes slide-in {
        0%{
            left: 30%;
        }

        100%{
            left: 120%;
        }
    }

    header .header-buttons div a{
        font-size: 1rem;
        margin: 0;
        text-align: center;
    }

    .header-buttons .ham-icons i{
        font-size: .5rem;
        color: white;
    }


    .header-buttons .close-menu{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1rem;
        color: white;
    }

     .open-menu{
        display: block; 

    }

    .header-buttons .ham-icons i{
        display: inline-block;
        margin-left: 30px;
        margin-top: 30px;
    }
   .close-menu i{
    color: rgba(255, 255, 255, 0.744);
    transition: color 500ms linear;
   }

   .close-menu i:hover{
    color: gold;
   }

   iframe{
    width: 600px;
   }
    }

@media screen and (max-width: 1123px) {
    .hire{
        scale: .8;
        display: flex;
        justify-content: space-between;
        column-gap: 100px;
        padding: 1rem 1rem;
    }

    .hire .hire-text .contact{
        column-gap: 10px;
    }

}

@media screen and  (max-width:1031px) {
    .our-baker{
        padding: 0 10px;
        justify-content: space-between;
    }
   .baker-image{
    scale: .7;
   }
   .baker-two{
    display: none;
   }
   .after-header{
    scale: .9;
   }

   .after-header-image img{
    transform: translateX(3rem);
    overflow: hidden;
   }

   .tour{
    scale: .8;
   }
}

@media screen and (max-width: 913px) {
    header{
        max-width: 100%;
    }
    .after-header, .our-baker, .hire{
        flex-direction: column;
    }

    .after-header{
        transform: translateY(7rem);
    }

    .after-header-text{
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .after-header-image img{
        transform: translateX(0);
    }

    .tour{
        padding-top: 5rem;
        text-align: center;
    }

    .our-baker{
        text-align: center;
        scale: 1;
        align-items: center;
        justify-content: center;
    }

    .image-text{
        display: flex;
        align-items: center;
        width: 80%;
    }
}

@media screen and (max-width: 770px) {
   
    .tour{
        scale: .7;
    }

    .after-header{
        scale: .8;
    }
}

@media screen and  (max-width: 659px) {

    iframe{
        width: 450px;
    }

    .tour{
        scale: 1;
    }

    .tour h2, .tour p{
        padding: 0 2rem;
    }

    .tour-guide{
        flex-direction: column;
        row-gap: 3rem;
    }

    .header-buttons .ham-icons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-buttons .ham-icons i{
        font-size: .3rem;
    }
}

@media screen and  (max-width: 570px) {
    .after-header-image{
        scale: .7;
    }

    iframe{
        width: 370px;
    }

}

@media  screen and (max-width: 400px) {
    .hire .hire-image{
        scale: .8;
    }

    .after-header-image{
        scale: .6.5;
    }

    iframe{
        width:280px ;
        height: 280px;
    }
}
/* media query */