.header-buttons .button-one a{
    color: white;
}

.header-buttons .button-three a{
    color: gold;
}

h1{
    margin-top: 10rem;
    text-align: center;
}

.menu-cover{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 9rem));
    justify-content: center;
    padding: 20px;
}

.menu-cover .menu-card{
    height: 220px;
    width: 150px;
    background-color: rgb(75, 1, 1);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    border-radius: 10px;
}

.menu-cover .menu-card .card-img{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}

.menu-cover .menu-card .card-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5%;
    border: 2px solid white;
}

.menu-cover .menu-card p {
    color: gold;
}

.note{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.note a {
    background-color: rgb(75, 1, 1) ;
    color: white;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: background-color 1s, color 1s;
}

.note a:hover{
    background-color: rgb(182, 3, 3) ;
}